.waiting {
    width: 420px;
    height: 90px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    user-select: none;
}

.waiting_text {
    font-size: 28px;
    font-weight: bold;
}

.waiting_image {
    display: block;
    height: 80px;
    width: 80px;
    animation: rotate 3s linear infinite;
    background: none;
}

.auth_window {
    width: 450px;
    padding: 10px 24px 24px 24px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(30px);
    background-color: #fff;
}

.switcher {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.link {
    display: block;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    user-select: none;
    line-height: 36px;
    text-align: center;

    &_active {
        color: $main-color;
        border-bottom-color: $main-color;
    }
}

.headline {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .waiting {
        width: 370px;
        height: 80px;
        transform: translateY(20px);
        gap: 30px;
    }

    .waiting_text {
        font-size: 25px;
    }

    .waiting_image {
        height: 70px;
        width: 70px;
    }

    .auth_window {
        width: 380px;
        padding: 8px 16px 16px 16px;
        transform: translateY(20px);
    }

    .headline {
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    .waiting {
        width: 300px;
        height: 60px;
        transform: translateY(10px);
        gap: 20px;
    }

    .waiting_text {
        font-size: 22px;
    }

    .waiting_image {
        height: 50px;
        width: 50px;
    }

    .auth_window {
        width: 300px;
        padding: 8px 12px;
        padding: 8px 12px 12px 12px;
        transform: translateY(10px);
    }

    .link {
        font-size: 16px;
        line-height: 30px;
    }

    .headline {
        font-size: 32px;
        margin-bottom: 16px;
    }
}
