.auth_window {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(30px);
}


.switcher {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}


.link {
    display: block;
    width: 235px;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    user-select: none;
    line-height: 36px;
    text-align: center;

    &_active {
        color: $main-color;
        border-bottom-color: $main-color;
    }
}
