.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 800px;
}


.page {
    background-color: red;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}


.left_menu {

}