.container {
    max-width: 1440px;
    margin: 0 auto;
}


.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 15px;
}


.content {
    background-color: #fff;
    border-radius: 20px;
    height: 30px;
    flex-grow: 1;
}