.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;

    &_active {
        background-color: $dark-background;
    }
}


@media (max-width: 1024px) {
    .link {
        font-size: 14px;
        height: auto;
        min-height: 30px;
    }
}


@media (max-width: 768px) {
    .link {
        justify-content: center;
        font-size: 13px;
    }
}