.input_container {
    position: relative;
}

.input {
    height: 48px;
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    display: block;
    width: 100%;
    font-size: 16px;
    z-index: 4;
    position: relative;
    background: none;
    border: 1px solid #000;

    &:focus {
        border-color: $main-color;
    }
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    top: -13px;
    z-index: 5;
}

.placeholder {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
    font-size: 16px;
    background-color: #fff;
    user-select: none;
    transition: 0.4s all;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
}

@media (max-width: 500px) {
    .input {
        height: 42px;
        padding: 8px 10px;
        font-size: 15px;
    }

    .placeholder {
        top: 8px;
        left: 12px;
        font-size: 15px;
    }
}
